body {
  max-width: 100%;
  height: 100%;
  text-align: center;
  background-color: #FFF5E5;
}

#photo-1, #photo-2, #photo-3 {
  max-width: 25%;
  height: auto;
}

header {
  min-width: 100%;
  max-width: 100%;
}

h3 {
  text-align: center;
  font-size: 30px;
  padding: 10px 40% 10px;
  max-width: 50%;
  font-family: fantasy;
  color: red;
  margin: 0px;
}

h2 {
  min-width: 50%;
  max-width: 100%;
  font-size: 20px;
  font-family: fantasy;
}
p {
  font-size: 15px;
  max-width: 15px
  font-family: monospace;
  margin: 0px;
  padding: 0px
}

img {
  max-width: 250px;
  max-height: 250px;
  margin: 20px 30px 10px 30px;
  box-shadow: 1px 3px 5px 6px #ccc;
  cursor: pointer;
  cursor: hand;
}
img:hover {
  border:3px solid green;
  box-shadow: 0 0 5px #333;
}



#displayImages {
  max-width: 100%;
  font-size: 20px;
}
#displayImages div {
  max-width: 33%;
  display: inline-block;
  font-size: 25px;
  font-family: cursive;
}
#gap-before-chart {
  padding-top: 40px;
}
#chart-images {
  min-width: 100%;
  max-width: 100%;
}
