body {
  max-width: 100%;
  height: auto;
  text-align: center;
  background-color: #FFF5E5;
}

#photo-1, #photo-2, #photo-3 {
  max-width: 25%;
  height: auto;
}

.title {
  text-align: center;
}

#legend {
  font-size: 30px;
  width: auto;
  padding: 10px 40% 20px;

}

img {
  max-width: 250px;
  max-height: 250px;
  margin: 20px 30px 10px 30px;
  box-shadow: 1px 3px 5px 6px #ccc;
}

.vote-block {
  text-align: center;
  padding-top: 10px;
  font-family: fantasy;
  color: red;
}

#displayImages {
  max-width: 100%;
  font-size: 20px;
}
#displayImages div {
  max-width: 33%;
  display: inline-block;
  font-size: 25px;
  font-family: cursive;
}
#gap-before-chart {
  padding-top: 40px;
}
p {
  font-size: 15px;
  max-width: 15px
  font-family: monospace;
  margin: 0px;
  padding: 0px
}
